/* distribuciones con display flex */
.column-layout {
    display: flex;
    flex-flow: column nowrap;
}

.column-layout-spaced {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.row-layout {
    display: flex;
    flex-flow: row nowrap;
}

.row-layout-spaced {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}