.main-layout {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 1fr 10%;
}

.main-header {
    grid-column: 1 / span 4;
    grid-row: 1 / 2;
}

.main-aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.main-content {
    grid-column: 2 / span 3;
    grid-row: 2 / 3;
}

.main-footer {
    grid-column: 1 / span 4;
    grid-row: 3 / 4;
}