.head {
    background-color: var(--clear-2);
    border: 3px solid var(--primary-1);
}

.aside {
    background-color: var(--primary-1);
    padding: 5px;
}

.content {
    background-color: var(--clear-3);
}

.foot {
    background-color: var(--clear-2);
    border: 3px solid var(--primary-1);
}