/* estilos de botones */
.btn {
    color: var(--clear-1);
    background-color: var(--primary-1);
    border: 1px solid var(--primary-1);
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    cursor: pointer;
}

.btn:active {
    color: var(--clear-3);
    background-color: var(--primary-2);
}