.link {
    color: var(--primary-1);
    text-decoration: none;
}

.link:visited, link:hover, link:active {
    color: var(--primary-3);
}

.tab-link {
    background-color: var(--primary-1);
    color: var(--clear-1);
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--primary-1);
    border-radius: 5px;
    padding: 10px;
}

.tab-link:active {
    background-color: var(--primary-2);
    color: var(--clear-3);
    border-color: var(--primary-2);
}

.tab-link:hover {
    color: var(--clear-2);
}