/* estilos de textos, enlaces y titulos */
.centered-text {
    text-align: center;
}

.justified {
    text-align: justify;
}

.italic {
    font-style: italic;
}

.danger-text {
    text-align: center;
    color: var(--danger-1);
    font-style: italic;
}